<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rds.rodalies"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Page1Activity"
            android:label="@string/title_activity_page1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Preferencias.GuardarPreferencias"
            android:label="@string/action_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/acerca_de" >
        </activity>

        <service
            android:name=".alarmas.ServicioNotificaciones"
            android:enabled="true"
            android:screenOrientation="portrait"/>

        <receiver android:name=".alarmas.AlarmReciever"
            />
        <receiver
            android:name=".alarmas.SampleBootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".alarmas.NuevaAlarmaNotificacion"
            android:label="@string/configura_notificaciones"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".alarmas.ListaNotificaciones"
            android:label="@string/alertas"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Horarios.HorarisActivity"
            android:label="@string/title_activity_horaris"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Horarios.ConsultaHorarisActivity"
            android:label="@string/title_activity_consulta_horarios"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>